<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ihVoronezh</title>
    <link href="../css/main.css" rel="stylesheet">
</head>
<body class="page">
    <div class="page__wrapper">
        <header class="header">
            <div class="uk-container">
                <div class="header__inner">
                    <div class="header__leftside">
                        <a class="header__logo logo" href="#">
                            <svg>
                                <use xlink:href="#logo"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="header__rightside">
                        <div class="header__info">
                            <div class="header__contacts">
                                <a class="header__tel" href="tel:+7(473)2-718-000">+7(473)2-718-000</a>
                                <a class="header__email" href="mailto:info.ihvrn@gmail.com">info.ihvrn@gmail.com</a>
                            </div>
                            <div class="header__lang">
                                <a href="#">En</a>
                                <a class="active" href="#">Ru</a>
                            </div>
                        </div>
                        <nav class="main-menu">
                            <ul>
                                <li><a href="#">О компании</a></li>
                                <li><a href="#">Спецпредложения</a></li>
                                <li><a href="#">Новости</a></li>
                                <li><a href="#">Программы</a></li>
                                <li><a href="#">Партнеры</a></li>
                                <li><a href="#">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                
                </div>
            </div>
        </header>
        <div class="uk-container">
            <main class="news inner-page">
                <h1 class="inner-page__title">
                    Новости
                </h1>
                <div class="news__subtitle">
                    <svg class="news__subtitle-arrow" width="17px" height="25px" viewBox="0 0 29 42" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg); transform-origin: center">
                        <path d="M28.644.21L.062 14.007v13.785l28.582-13.788V.21z" fill="#b9296e"></path>
                        <path d="M.062 14.012l28.582 13.8v13.783L.062 27.807V14.012z" fill="#00378a"></path>
                    </svg>
                    <span>Прошедшие мероприятия</span>
                </div>
                <div class="news__grid">
                    <div>
                        <a class="news-item" href="#">
                            <span class="news-item__image uk-cover-container">
                                <img src="../img/program-1.jpg" uk-cover alt="">
                            </span>
                            <time class="news-item__date">
                                15 августа 2018
                            </time> 
                            <h2 class="news-item__title">
                                Образовательные программы для детей
                            </h2>
                            <span class="news-item__desc">
                                В честь открытия ждём всех на праздник 2 сентября в 14.00 Бульвар Олимпийский д.6 подъезд 11 Тел. для записи в группы: 240-08-98
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="news-item" href="#">
                            <span class="news-item__image uk-cover-container">
                                <img src="../img/program-1.jpg" uk-cover alt="">
                            </span>
                            <time class="news-item__date">
                                15 августа 2018
                            </time> 
                            <h2 class="news-item__title">
                                Образовательные программы для детей
                            </h2>
                            <span class="news-item__desc">
                                В честь открытия ждём всех на праздник 2 сентября в 14.00 Бульвар Олимпийский д.6 подъезд 11 Тел. для записи в группы: 240-08-98
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="news-item" href="#">
                            <span class="news-item__image uk-cover-container">
                                <img src="../img/program-1.jpg" uk-cover alt="">
                            </span>
                            <time class="news-item__date">
                                15 августа 2018
                            </time> 
                            <h2 class="news-item__title">
                                Образовательные программы для детей
                            </h2>
                            <span class="news-item__desc">
                                В честь открытия ждём всех на праздник 2 сентября в 14.00 Бульвар Олимпийский д.6 подъезд 11 Тел. для записи в группы: 240-08-98
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="news-item" href="#">
                            <span class="news-item__image uk-cover-container">
                                <img src="../img/program-1.jpg" uk-cover alt="">
                            </span>
                            <time class="news-item__date">
                                15 августа 2018
                            </time> 
                            <h2 class="news-item__title">
                                Образовательные программы для детей
                            </h2>
                            <span class="news-item__desc">
                                В честь открытия ждём всех на праздник 2 сентября в 14.00 Бульвар Олимпийский д.6 подъезд 11 Тел. для записи в группы: 240-08-98
                            </span>
                        </a>
                    </div>
                    <div>
                        <a class="news-item" href="#">
                            <span class="news-item__image uk-cover-container">
                                <img src="../img/program-1.jpg" uk-cover alt="">
                            </span>
                            <time class="news-item__date">
                                15 августа 2018
                            </time> 
                            <h2 class="news-item__title">
                                Образовательные программы для детей
                            </h2>
                            <span class="news-item__desc">
                                В честь открытия ждём всех на праздник 2 сентября в 14.00 Бульвар Олимпийский д.6 подъезд 11 Тел. для записи в группы: 240-08-98
                            </span>
                        </a>
                    </div>
                </div>
                <div class="pagination">
                    <span class="pagination__prev pagination__disabled">
                        <svg class="pagination__icon" width="17px" height="25px" viewBox="0 0 29 42" xmlns="http://www.w3.org/2000/svg">
                            <path class="pagination__icon-top" d="M28.644.21L.062 14.007v13.785l28.582-13.788V.21z"></path>
                            <path class="pagination__icon-bottom" d="M.062 14.012l28.582 13.8v13.783L.062 27.807V14.012z"></path>
                        </svg>
                    </span>
                    <ul>
                        <li><a class="active" href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">29</a></li>
                    </ul>
                    <a class="pagination__next" href="#">
                        <svg class="pagination__icon" width="17px" height="25px" viewBox="0 0 29 42" xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg); transform-origin: center">
                            <path class="pagination__icon-top" d="M28.644.21L.062 14.007v13.785l28.582-13.788V.21z"></path>
                            <path class="pagination__icon-bottom" d="M.062 14.012l28.582 13.8v13.783L.062 27.807V14.012z"></path>
                        </svg>
                    </a>
                </div>
            </main>
        </div>
        <footer class="footer">
            <div class="uk-container">
                <div class="footer__inner">
                    <a class="footer__logo logo" href="#">
                        <svg>
                            <use xlink:href="#logo"></use>
                        </svg>
                    </a>
                    <ul class="footer__links">
                        <li>
                            <a href="#">Задай свой вопрос</a>
                        </li>   
                        <li>
                            <a href="#">Стать частью команды</a>
                        </li>  
                        <li>
                            <a href="#">Политика конфиденциальности</a>
                        </li> 
                    </ul>
                    <div class="footer__subscribe">
                        <div class="footer__subscribe-heading">
                            Подписаться на наши новости
                        </div>
                        <form>
                            <div class="uk-inline">
                                <button class="uk-form-icon uk-form-icon-flip js-subscribe-btn" uk-icon="icon: close"></button>
                                <input class="footer__subscrube-input js-subscribe-input" type="email" placeholder="E-mail">
                            </div>
                        </form>
                    </div>
                    <div class="footer__social">
                        <div class="footer__social-heading">
                            Мы в соцсетях
                        </div>
                        <ul class="footer__social-list">
                            <li>
                                <a href="http://vk.com/ih_voronezh_linguist" target="_blank">
                                    <svg width="20px" height="20px">
                                        <use xlink:href="#vk"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/IHVoronezhLinguist" target="_blank">
                                    <svg width="19px" height="15px">
                                        <use xlink:href="#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC6Ib7jPouiXUs3YjpcE0G1Q" target="_blank">
                                    <svg width="19px" height="15px">
                                        <use xlink:href="#youtube"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__devs devs">
                        <img class="devs__logo" src="../img/avs.jpg" alt="">
                        <div class="devs__text">
                            Сделано в <br> #avs<span>web.ru</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="bundle.js"></script>
</body>
</html>