@import 'variables';

// 1. Your custom variables and variable overwrites.
$global-font-family: 'HelveticaNeueCyr', Helvetica, Arial, sans-serif;

$base-body-font-weight: 400; 
$base-color: $theme-color-3;

$container-max-width: 945px;

$global-link-color: $theme-color-3;
$base-link-text-decoration: underline;
$global-link-hover-color: $theme-color-3;
$base-link-hover-text-decoration: none;

$global-border: #ddd;

$form-focus-border: $theme-color-2;

.uk-input, .uk-textarea {
    &:focus {
        box-shadow: 0 0 10px 0 $theme-color-2;
    }
}

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";
@import 'variables';