@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Medium"),
    url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyrMedium";
  src: local("HelveticaNeueCyr-Medium"),
    url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Heavy"),
    url("../fonts/HelveticaNeueCyr-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-HeavyItalic"),
    url("../fonts/HelveticaNeueCyr-HeavyItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyrBlack";
  src: local("HelveticaNeueCyr-Black"),
    url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-UltraLightItalic"),
    url("../fonts/HelveticaNeueCyr-UltraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-BlackItalic"),
    url("../fonts/HelveticaNeueCyr-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-ThinItalic"),
    url("../fonts/HelveticaNeueCyr-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-MediumItalic"),
    url("../fonts/HelveticaNeueCyr-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-LightItalic"),
    url("../fonts/HelveticaNeueCyr-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-UltraLight"),
    url("../fonts/HelveticaNeueCyr-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-BoldItalic"),
    url("../fonts/HelveticaNeueCyr-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Italic"),
    url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Roman"),
    url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyrBold";
  src: local("HelveticaNeueCyr-Bold"),
    url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr-Light"),
    url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: url("HelveticaNeueCyr-Thin.eot");
  src: local("HelveticaNeueCyr-Thin"),
    url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

//Bandera Pro

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Thin"), local("BanderaProThin"),
    url("../fonts/BanderaProThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Medium"), local("BanderaProMedium"),
    url("../fonts/BanderaProMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Light Italic"), local("BanderaProLight-Italic"),
    url("../fonts/BanderaProLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Heavy Italic"), local("BanderaProHeavy-Italic"),
    url("../fonts/BanderaProHeavy-Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Italic"), local("BanderaPro-Italic"),
    url("../fonts/BanderaPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Light"), local("BanderaProLight"),
    url("../fonts/BanderaProLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Medium Italic"), local("BanderaProMedium-Italic"),
    url("../fonts/BanderaProMedium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Bold"), local("BanderaPro-Bold"),
    url("../fonts/BanderaPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Thin Italic"), local("BanderaProThin-Italic"),
    url("../fonts/BanderaProThin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Regular"), local("BanderaPro"),
    url("../fonts/BanderaPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Heavy"), local("BanderaProHeavy"),
    url("../fonts/BanderaProHeavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Bandera Pro";
  src: local("Bandera Pro Bold Italic"), local("BanderaPro-BoldItalic"),
    url("../fonts/BanderaPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
	font-family: "ALSRubl";
	src: url("../fonts/ALSRubl.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
