.breadcrumb {
    margin-bottom: 50px;
    a,span {
        font-size: 15px;
        font-weight: 300;
        line-height: 1; 
    }
    span {
        color: $theme-color-1;
    }
    a {
        text-decoration: none;
        &:hover {
            color: $theme-color-1;
            text-decoration: underline;
        }
    }
}