.home-offers-slide {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.home-offers-slide__title-wrapper {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 15px;
    left: 0;
    background-color: $theme-color-2;
    text-align: center;
    opacity: 0.9;
    padding: 15px 7px;
    transition: background-color 0.25s;
}

.home-offers-slide__title {
    color: #fff;
    font-family: $decor-font-family;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}
