.home-about {
    padding: 60px 0 90px;
    text-align: center;
}

.home-about__inner {
    max-width: 700px;
    margin: 0 auto;
}

.home-about__title {
    margin-bottom: 10px;
}

.home-about__subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
}

.home-about__desc {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
}
