.news-item {    
    display: block; 
    text-decoration: none;
    &:hover {
        text-decoration: none;
        .news-item__title {
            color: $theme-color-2;
            transition: color 0.25s;
        }
    }
}

.news-item__image {
    display: block;
    height: 305px;
    margin-bottom: 14px;
}

.news-item__date {
    display: block;
    margin-bottom: 9px;
    color: $theme-color-3;
    font-size: 15px;
    font-weight: 300;
    text-transform: lowercase;
}

.news-item__title {
    margin: 0 0 10px;
    color: $theme-color-1;
    font-family: $decor-font-family;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    text-decoration: none;
    transition: color 0.25s;
}

.news-item__desc {
    display: block;
    color: $theme-color-3;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
}
