.partners {
  padding: 65px 0 25px;
}

.partners__title {
  margin-bottom: 45px;
  font-family: $decor-font-family;
  color: $theme-color-1;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}
