.special-block {
    display: inline-block;
    padding: 15px 15px 3px;
    color: #003a79;
    font-family: $decor-font-family;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid $theme-color-2;
}